# Node.js dependencies
/node_modules/

# Optional npm cache directory
.npm/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.* 

# IDE files
.idea/
.vscode/

# Build output
/dist/
/build/

/*.tgz

# Temporary files
*.swp
*.swo

# Coverage directory used by tools like istanbul
/coverage/

# TernJS
.tern-port

# AWS SAM build folders
.aws-sam/

# Vagrant files
.vagrant/

# civ6数据库目录
civ6_db/